[tool.black]
line-length = 88
target-version = ["py311"]
skip-string-normalization = false

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true

[tool.pyright]
include = ["."]
exclude = ["**/node_modules", "**/__pycache__"]

[tool.ruff]
line-length = 88
select = ["E", "F", "W"]
ignore = [
    "E501"   # line length handled by Black
]

